/* break point 1024px  */
@media (max-width: 1024px) {
  .tittle-header {
    margin-top: 50px !important;
    max-width: 450px;
    padding: 0 16px;
  }
  /* css fonts text element ------------ */
  .tittle {
    font-size: 2.5rem !important;
  }
  .intro {
    font-size: 1rem !important;
  }
  .detail-intro {
    font-size: 1.5rem !important;
  }
  /* add space for icon menu responsive  */
  .navbar-light .navbar-toggler {
    margin-left: 10px;
  }
  /* css for button s-btn--------  */
  .s-btn {
    padding: 15px 20px !important;
    line-height: 20px !important;
  }
  .s-features .bug-box {
    margin-top: 50px;
  }
  /* css section s-feature count number  */
  .count-middle .box-count {
    margin-right: 0 !important;
  }
  .count .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  .count-middle .counter {
    font-size: 1.5rem;
  }
  header {
    background-position: center !important;
    min-height: 630px !important;
  }
}
/* ------------------------------- */
/* responsive 820px ----------------- ipad air  */
@media (max-width: 820px) {
  .navbar-nav {
    background-color: rgb(0 0 0 / 50%);
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  /* fix form header position ----------  */
  header form.form-inline {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .s-categories .list-item .infor-price {
    bottom: -10px !important;
    left: 20px !important;
  }
  .s-features .fix-box {
    margin-top: 50px !important;
  }
  .s-blog .thump .time {
    font-size: 0.8rem;
  }
  .s-blog h3 {
    font-size: 1rem !important;
    margin: 5px 0 !important;
  }
  .text {
    font-size: 0.8rem !important;
  }
}
/* responsive small tabelet 800px : năm ngang */
@media (max-width: 800px) {
  .s-features .fix-box {
    margin-top: 50px !important;
  }
}
/* responsive mobile */
@media (max-width: 415px) {
  .form-inline input {
    display: none;
  }
  header form.form-inline {
    top: 5px;
  }
  .tittle {
    font-size: 1.6rem !important;
  }
  p {
    font-size: 1rem !important;
    margin-bottom: 20px !important;
  }
  header {
    background-position: center !important;
    min-height: 480px !important;
  }
  .tittle-header {
    max-width: 265px !important;
  }
  .detail-intro {
    font-size: 1rem !important;
  }
  .s-categories .list-item {
    gap: 5px !important;
  }
  .s-categories .list-item .infor-price {
    position: absolute;
    bottom: -20px !important;
    left: 5px !important;
  }
  .s-features .box {
    padding: 5px !important;
  }
  .s-features .box .head-box {
    margin-bottom: 5px !important;
  }
  .s-features .box p {
    margin-bottom: 5px !important;
  }
}
/* responsive 768px----------------------------------  */
@media (max-width: 768px) {
  .navbar-nav {
    background-color: rgb(0 0 0 / 50%);
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  /* css position for header form.form-inline  */
  header form.form-inline {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .tittle-header {
    max-width: 440px !important;
  }
  /* fix css size for banner header  */
  header {
    background-position: center !important;
    min-height: 630px !important;
    background-attachment: inherit !important;
  }
  .s-features .fix-box {
    margin-top: 50px;
  }
  .count-middle .counter {
    font-size: 1.5rem !important;
  }
  .s-blog h3 {
    font-size: 1.1rem !important;
    margin: 5px 0 !important;
  }
  .s-categories .list-item {
    gap: 10px !important;
  }
  .s-categories .list-item .item {
    border-radius: 10px !important;
  }
}
/* responsive small tabelet 600px  -------------------*/
@media (max-width: 600px) {
  .s-features .fix-box2 {
    margin-top: 50px !important;
  }
}
/* fix css s-middle fix-s-btn 390px  */
@media (max-width: 390px) {
  .s-middle .fix-s-btn {
    margin-right: 0px !important;
  }
}
