* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style-type: none;
  color: #fff;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  background-color: #fff;
}
/* change to mode  */

/* effect dark mode all  */
.dark {
  background-color: #000;
  color: #fff;
}
.dark .text {
  color: #fff;
}
header .dark-mode {
  padding-top: 12px;
  padding-left: 15px;
}
.dark input {
  background-color: #000;
}
/* hidden night mode  */
.night-mode {
  display: none;
}
/* -------style for text--------  */
.tittle {
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
p {
  color: #fff;
  margin-bottom: 50px;
}
/* logo  */
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
/* intro tittle heading  */
.intro {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
}
.detail-intro {
  font-size: 2.5rem;
  font-weight: 600;
}
.text {
  font-size: 1rem;
  color: rgb(21 27 44 / 50%);
}
/* -------style for text--------  */

/* button banner header  */
.s-btn {
  padding: 15px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: all 0.3s ease-in;
  border: 2px solid #fff;
  border-radius: 5px;
}
button {
  background-color: transparent;
}
.s-btn i {
  margin-left: 10px;
}
button:hover a {
  text-decoration: none;
  color: #ff6600;
  transition: all 0.5s;
}
button:hover {
  background-color: #fff;
}
/* --------------------------  */
.container {
  max-width: 1200px;
}
/* input search header nav */

/* fix size for icon  */
.dark-mode,
.night-mode i {
  font-size: 1.5rem;
  color: #fff;
}
/* icon menu bar  */
.icon-menu i {
  font-size: 1.8rem;
  color: #fff;
}
/* grid nav  */

/* hidden overlay header menu  */
header .overlay-header {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
/* menu nav  */
header ul {
  margin: 0 auto;
}
header ul li {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
/* css nav boostrap v4  */
.navbar-light .navbar-nav .active > .nav-link {
  color: #ff6600;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.disabled,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
/* effect transition for menu nav  */
header .navbar-nav li:hover a {
  color: #ff6600 !important;
  transition: 0.3s;
}
/* ----------------------------  */
/* s-nav-right  */
header .s-nav-right {
  display: flex;
}
header .icon-menu {
  padding: 10px 0 0 30px;
}
/* css for button menu responsive----------  */

/* overlay menu for tablet and mobile ------- */
.overlay-header {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(6 3 0 / 77%);
}
/* css for overlay menu  */
header .overlay-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
header .overlay-menu ul li {
  margin: 20px 0;
  transition: all 0.3s;
}
header .overlay-menu ul li:hover {
  color: #ff6600;
}
/* close button overlay  */
header .close-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  background-color: #ff6600;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
/* start footer  */
footer {
  background-color: #000;
  margin-top: 50px;
}
footer .intro {
  color: #fff;
}
footer .social i {
  font-size: 1rem;
  color: #ff6600;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  padding: 12px 14px;
  cursor: pointer;
  transition: 0.3s;
}
footer .social i:hover {
  background-color: #ff6600;
  color: #fff;
}
/* usefull-link footer  */
footer ul {
  margin-top: 20px;
}
footer ul li {
  margin-top: 15px;
}
footer ul li a {
  color: #787f84;
  transition: 0.3s;
}
footer ul li:hover a {
  text-decoration: none;
  color: #ff6600;
}
footer .subscribe input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  border-radius: 5px;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #ff6600;
}
.btn-primary:hover {
  color: none;
  background-color: #ff6600;
  border-color: #ff6600;
  opacity: 0.7;
}
footer .bottom-footer {
  margin-top: 100px;
}
footer .bottom-footer ul {
  margin: 0;
}
footer .bottom-footer ul li {
  margin-top: 0;
}
footer .bottom-footer .address a {
  color: #ff6600;
}
footer .bottom-footer .address a:hover {
  text-decoration: none;
  color: #fff;
}
/* end footer  */

/* ------------------------base css  */

/* background header  */
header {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(/img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
/* start tittle-header  */
.tittle-header {
  margin-top: 70px;
  max-width: 600px;
}
/* end tittle-header  */
/* ---------------------------------  */
/* start about us  */
.about-us {
  margin: 50px 0;
}
/* end about us  */
/* start booking -------------  */
.s-booking img {
  width: 100%;
  min-height: 600px;
}
.s-booking .content-left {
  padding: 0;
  position: relative;
}
.s-booking .content-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(6 3 0 / 10%);
}
/* css for content-right  */
.s-booking .content-right {
  background-color: #ff6600;
  padding: 50px;
}
.s-booking .content-right .intro {
  color: #fff;
}
.s-booking .icon-booking .intro {
  margin-top: 20px;
  color: #000;
}
/* icon footer booking  */
.s-booking .icon-booking {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-booking .icon-booking p {
  margin-bottom: 10px;
}
.s-booking p {
  margin: 20px 0 30px 0;
}
/* css for icon  */
.s-booking .icon-booking i {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6600;
  font-size: 1.8rem;
  transition: all 0.5s;
}
.s-booking .icon-booking i:hover {
  color: #ffcd00;
}
/* end booking -------------  */
/* start s-categories  */
.s-categories {
  padding: 50px 0;
  background-color: #f7f7f7;
}
/* text for categories  */
.s-categories .tittle-categories {
  text-align: center;
}
.s-categories .tittle-categories .intro {
  color: #ff6600;
}
.s-categories .intro {
  margin-bottom: 5px;
  color: #fff;
}
.s-categories .detail-intro {
  color: #000;
}
.s-categories .list-item p {
  color: #ffd220;
  margin-bottom: 20px;
}
/* css for thump  */
.s-categories .thump {
  border-radius: 10px;
}
.s-categories .thump img {
  width: 100%;
  position: relative;
}
.s-categories .thump img:hover {
  opacity: 0.85;
  transition: 0.4s;
}
/* effect background linear  */
.s-categories .list-item .thump {
  position: relative;
}
.s-categories .list-item .thump::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
/* css list item grid */
.s-categories .list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 50px;
  flex-direction: column-reverse;
}
.s-categories .list-item .item {
  position: relative;
}
.s-categories .list-item .infor-price {
  position: absolute;
  bottom: 0;
  left: 50px;
}
/* end css list item  */
/* end s-categories  */
/* start features  */
/* css box  */
.s-features {
  margin-top: 50px;
}
.s-features .box {
  background-color: #f9f8ff;
  padding: 40px;
  border: 1px solid rgba(51, 51, 51, 0.079);
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  border-radius: 5px;
  transition: 0.3s;
}
.s-features .box .head-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.s-features .box .head-box .icon {
  background-color: #f3f1ff;
  width: 70px;
  height: 70px;
  color: #ff6600;
  font-size: 1.7rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.3s;
}
.s-features .box p {
  margin-bottom: 10px;
  color: #161c2db3;
}
.s-features .head-box .info h4 > a {
  color: #000;
  font-weight: bold;
}
/* effect hover for box  */
.s-features .box:hover .icon {
  background-color: #ff6600;
  color: #fff;
}
.s-features .head-box:hover .info h4 > a {
  text-decoration: none;
  color: #ff6600;
}
/* end features  */
/* start s-middle  */
/* banner middle  */
.s-middle {
  background: url(/img/banner-middle.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* height: 80vh; */
}
.s-middle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(16 15 19 / 50%);
}
/* css text middle  */
.s-middle .content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}
.s-middle .content .detail-intro {
  color: #fff;
}
/* css button middle  */
.s-middle button:last-child {
  background-color: #ff6600;
  border: none;
}
.s-middle button:last-child:hover {
  opacity: 0.8;
}
.s-middle button:last-child:hover a {
  color: #fff;
}
/* end s-middle  */
/* start count middle  */
/* css box count middle  */
.count-middle {
  position: relative;
  z-index: 10;
  margin-top: -70px;
}
.count-middle .counter {
  font-size: 2rem;
  font-weight: bold;
}
.count-middle .box-count {
  background-color: #fff;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  border-radius: 5px;
  text-align: center;
  padding: 50px 0;
  max-width: 280px;
  margin-right: 20px;
  transition: 0.5s;
}
.count-middle .box-count:hover {
  transform: translateY(-50px);
}
.count-middle .box-count .icon {
  color: #fff;
  background-color: #ff6600;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.count-middle .box-count .count-number {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}
.count-middle .box-count p {
  color: #000;
  margin-bottom: 0;
}
/* end count middle  */
/* start blog  */
.s-blog {
  background-color: #f7f7f7;
  margin-top: 50px;
  padding: 50px;
}
.s-blog .detail-intro {
  color: #000;
}
.s-blog img {
  width: 100%;
}
.s-blog h3 {
  font-size: 1.5rem;
  color: #000;
  margin: 20px 0;
}
.s-blog .thump .name {
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ff6600;
  border-radius: 40px;
  font-size: 0.9rem;
}
.s-blog .thump .time {
  color: #fff;
}
.s-blog .thump {
  position: relative;
}
.s-blog .thump img {
  border-radius: 5px;
}
.s-blog .thump .detail-cook {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.s-blog .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}
.s-blog .author .author-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.s-blog .author .author-left span {
  margin-left: 10px;
}
.s-blog .author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.s-blog .author span {
  color: #000;
  font-size: 1rem;
}
/* end blog  */
/* start s-testimonials  */
.s-testimonials img {
  border-radius: 50%;
  width: 80px;
  margin: 0 auto;
}
.s-testimonials .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-testimonials {
  text-align: center;
}
.list-testimonials i {
  font-size: 2rem;
  color: #ff6600;
}
.list-testimonials .content .detail-intro {
  font-size: 1.5rem;
  margin: 20px;
}
.s-testimonials .footer-content .author {
  font-weight: bold;
}
/* end s-testimonials  */
/* start footer  */
footer {
  background-color: #000;
  margin-top: 50px;
}
footer .intro {
  color: #fff;
}
footer .social i {
  font-size: 1rem;
  color: #ff6600;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  padding: 12px 14px;
  cursor: pointer;
  transition: 0.3s;
}
footer .social i:hover {
  background-color: #ff6600;
  color: #fff;
}
/* usefull-link footer  */
footer ul {
  margin-top: 20px;
}
footer ul li {
  margin-top: 15px;
}
footer ul li a {
  color: #787f84;
  transition: 0.3s;
}
footer ul li:hover a {
  text-decoration: none;
  color: #ff6600;
}
footer .subscribe input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  border-radius: 5px;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #ff6600;
}
.btn-primary:hover {
  color: none;
  background-color: #ff6600;
  border-color: #ff6600;
  opacity: 0.7;
}
footer .bottom-footer {
  margin-top: 100px;
}
footer .bottom-footer ul {
  margin: 0;
}
footer .bottom-footer ul li {
  margin-top: 0;
}
footer .bottom-footer .address a {
  color: #ff6600;
}
footer .bottom-footer .address a:hover {
  text-decoration: none;
  color: #fff;
}
/* end footer  */
